body {
  font-family: 'Comfortaa', sans-serif;
  text-align: center;
}

/* Fonts */

h1, h2, h3, h4, h5, h6 {
  line-height: 1.5;
}

a {
  padding: 20px;
  color: #fff;
  font-size: 80%;
  text-decoration: none;
}

a:hover {
  color: #0E9FE4;
}

p {
  color: gray;
}

em {
  color: #fff;
}

/* Headings */

.big-heading {
  font-size: 3.5rem;
  font-weight: bolder;
  color: #fff;
}

/* Containers */

.container-fluid {
  padding: 7% 15%;
}

/* Title Section */

#title {
  background-color: #212121;
  color: #fff;
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 30%;
}

.title-image {
  width: 55%;
  transform: rotate(20deg);
  position: absolute;
  right: 25%;
  top: 5%;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-size: 1.5rem;
  padding-left: 1.5%;
}

.nav-logo {
  width: 4%;
  animation: rotation 50s linear infinite;
}

.nav-item {
  padding: 18px;
}

.nav-link {
  font-size: 1rem;
  font-weight: lighter;
}

/* Feature Section */

#features {
  background-color: #fff;
  position: relative;
}

.feature-image {
  max-height: 80px;
  margin: 0 20px 20px;
}

.feature-box {
  margin-bottom: 0;
  padding: 4.5%;
}

.feature-text {
  font-size: 1.5rem;
}

/* Testimonials Section */

#testimonials {
  background-color: #212121;
  height: 400px;
}

.testimonial-text {
  font-size: 2rem;
  color: #fff;
}

/* Plans Section */

#plans {
  padding: 100px;
}

.plan-column {
  padding: 3% 2%;
}

.pricing-text {
  font-size: 1.5rem;
}

/* Call To Action Section */

#cta {
  background-color: #212121;
}

/* Footer Section */

#footer {
  background-color: #212121;
}

#footer .container-fluid {
  padding-bottom: 2%;
}

.footer-icon {
  margin: 10px 20px:
}

.copyright-text {
  color: #fff;
  font-size: 0.75rem;
  padding-top: 10px;
}

/* Buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

.cta-button {
  margin: 40px 20px 0;
}

/* Mobile Friendliness */

@media (max-width: 1041px) {

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  #title {
    text-align: center;
  }

  #testimonials {
    height: 380px;
  }

  .title-image {
    margin: 15% auto;
    position: static;
    transform: rotate(0);
  }

  .nav-logo {
    width: 10%;
  }
}

/* Animations */

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
