

body {
  font-family: 'Comfortaa', sans-serif;
}

/* Fonts */

h1 {
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: bolder;
}

h2 {
  font-size: 2rem;
  line-height: 1.5;
  color: #fff;
}

h3 {
  font-size: 1.5rem;
  line-height: 1;
}

p {
  color: gray;
}

hr {
  border: dotted gray 4px;
  border-bottom: none;
  width: 5%;
  margin: 100px auto;
}

em {
  color: #fff;
}

/* Title Section */

#title {
  background-color: #212121;
  color: #fff;
}


.container-fluid {
  padding: 3% 15%;
}

.title-image {
  width: 60%;
  transform: rotate(20deg);
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-size: 1.5rem;
}

.nav-logo {
  width: 6%;
  padding: 0 18px;
  animation: rotation 50s linear infinite;
}
.nav-item {
  padding: 18px;
}

.nav-link {
font-size: 1rem;
font-weight: lighter;

}

/* Feature Section */

#features {
  padding: 7% 15%;
  text-align: center;
  background:
}

.feature-image {
  max-height: 80px;
  margin: 0 20px 20px;

}

.feature-box {
  margin-bottom: 0;
  position: relative;
  padding: 4.5%;
}

/* Testimonials section */

#testimonials {
  text-align: center;
  background-color: #212121;
  height: 400px;
}


.carousel-item {
  padding: 7% 15%;
}

/* Buttons */

.download-button {
  margin: 5% 3% 5% 0;
}


/* Animations */

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
